body {
    background-color: lavender;
}

.navbar {
    width: 100%;
    background-color: #04AA6D;
    overflow: auto;
}

.navbar a {
    float: right;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    border-radius: 2ch;
    margin-bottom: 2ch;
    margin-top: 0;
    margin-right: 2nch;
}

.navbar a:hover {
    background-color: #000;
}

.active {
    background-color: #AAAA;
}

h1 {
    color: white;
    margin-top: 2ch;
    margin-left: 2ch;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

.list-inline-item {
    padding: 40px 0;
    color: rgb(214, 199, 199);
    display: inline;
    width: 100%;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: white;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

.footer-basic {
    background: rgb(52, 56, 52);
}

.footer-basic .social .icon ion-social-instagram {
    color: black;
}

form {
    background-color: white;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    display: flex;
    background: linear-gradient(135deg, #71ade6, #59b69a);
}

.container {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    margin: 20px 10px 0 0;
    margin-left: 25%;
    margin-right: 25%;
}

.container.tittle {
    font-size: 25x;
    font-weight: 500;
    position: relative;
}

.container .tittle ::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #7971e6, #5b59b6);
}

.container form .user-details {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box {
    width: calc(100% /2 -20px);
    margin: 20px 0 12px 0;
    margin-bottom: 15px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.user-details .input-box .details {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.user-details .input-box input,
.user-details .input-box input:valid {
    border-color: #9b59b6;
}

form .button {
    height: 45px;
    margin-left: 30%;
}

form .button input {
    color: #fff;
    background: linear-gradient(135deg, #71e6bf, #5b59b6);
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 15px;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.house {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.wrapper {
    padding: 0 16px;
    background-color: white;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.features {
    color: black;
}

h3 {
    align-content: center;
    font-size: medium;
}

.back {
    background-color: linear-gradient(135deg, #71e6bf, #5b59b6);
}

.row img {
    border-radius: 10px;
}

.location img {
    float: right;
    margin-right: 2%;
    border-radius: 10px;
    margin-top: 1%;
}

.location {
    background-color: rgb(28, 128, 81);
    color: aliceblue;
}

.container1 {
    background-color: rgb(28, 128, 81);
}

.container1 .location li {
    margin-left: 5%;
}

.container1 .location .upper-footer {
    position: absolute;
    padding-left: 35%;
    padding-top: 0%;
    margin-top: 0%;
}

.container1 .location .upper-footer button {
    background-color: #04AA6D;
}